.yRemoteSelection {
    background-color: rgb(var(--cursor-color), .5)
}

.yRemoteSelectionHead {
    position: absolute;
    border-left: var(--cursor-color) solid 2px;
    border-top: var(--cursor-color) solid 2px;
    border-bottom: var(--cursor-color) solid 2px;
    height: 100%;
    box-sizing: border-box;
}

.yRemoteSelectionHead::after {
    position: absolute;
    content: ' ';
    border: 3px solid var(--cursor-color);
    border-radius: 4px;
    left: -4px;
    top: -5px;
}

.p-room {
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(16);
        padding-bottom: rem(16);
        border-bottom: rem(1) solid $white-smoke;
    }

    &_info {
        display: flex;
        align-items: center;

        &_clients {
            display: flex;
            align-items: center;
            margin-left: rem(16);
        }

        &_clientText {
            margin-left: rem(4);
        }
    }
}